.question-container {
    display: flex;
    flex-direction: column;
}

.listening {
    align-items: center;
    text-align: center;
}

.question-type {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
}

.question-btn {
    border: 3px solid #1cb0f6;
    box-shadow: 0 5px 0 #24abe1;
    background-color: #ddf4ff;
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
}

.question-btn-img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
}

.question-btn.disabled {
    border: 3px solid #909090;
    box-shadow: none;
    background-color: #e6e6e6;
    pointer-events: none;
}

.question-btn:active {
    box-shadow: none;
    transform: translateY(5px);
}

.question-btn:hover {
    cursor: pointer;
}

.translation-text {
    font-size: 1.2rem;
    padding: 10px;
}

.word {
    display: inline;
    text-decoration: #909090 underline dotted;
}

.speaking-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

audio {
    margin-top: 15px;
    width: 300px;
}


