.lp-container {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lp-info-container {
  display: flex;
  flex: 1;
  padding: 50px;
  background-color: white;
  border-radius: 25px;
  flex-wrap: wrap;
  gap: 15px;

  .welcome-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-content: center;
    flex-wrap: wrap;

    .lp-point {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .welcome-buttons-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
    }

    .nav-link-container {
      max-width: 700px;
      min-width: 200px;
      flex: 1 0;
      padding: 10px;
      border-radius: 15px;
      font-weight: 600;
      gap: 5px;
      font-size: 20px;
      box-sizing: border-box;
    }

    .logout {
      border: 2px solid #ff7070;
      color: #ff7070;
    }

    .slogan {
      font-size: 3.5rem;
    }
  }

  .user-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
  }
}
