.sidebar {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #c5c5c5;
    width: 300px;
    min-width: 150px;
}

.welcome-message {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.sidebar-links {
    width: 100%;
    text-decoration: none;
}

.button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    letter-spacing: 1px;
    font-weight: 580;
    padding: 8px;
}

.sidebar-buttons {
    color: #696969;
    margin: 2px;
}

.sidebar-buttons:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.active {
    background-color: #ddf4ff;
    color: #1cb0f6;
    border: 2px solid #1cb0f6
}

.active:hover {
    background-color: #ddf4ff;
}

.logout-button {
    color: #b46969;
    margin-top: 20px;
}

.logout-button:hover {
    cursor: pointer;
    border: 2px solid #b46969;
}